/* General Styles */
body {
    font-family:Georgia
    margin; 0;
    padding; 0;
    box-sizing; border-box;
}

/* Header and Footer Styles */
header, footer {
    background-color: #9CAF88;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
welcome-heading {
    color: #ffffff;
}

/* Navigation Menu Styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Section Styles */
section {
    padding: 2em;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input {
    padding: 0.5em;
    margin-bottom: 1em;
}

button {
    padding: 0.7em;
    background-color: #819171;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

.group-photo {
    display: block;
    margin: 0 auto;
    width: 250px; 
}

.profile-photo {
    display: block;
    margin: 0 auto;
    width: 250px; 
    border-radius: 50%; 
    }

.me-photo {
    display: block;
    margin: 0 auto;
    width: 250px; 
    }